 .u-section-1 {
  background-image: linear-gradient(60deg, #fef9e6, #f5f7fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-text-1 {
  font-size: 2.75rem;
  margin: 48px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 563px;
  width: 593px;
  height: auto;
  margin: 32px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 349px;
  width: 533px;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0 32px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 217px;
    width: 320px;
  }
}